.App {
  text-align: center;
}

.App-header {
  background-color: #5CBE58;
  height: 80px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 5px 5px #888888;
}

.App-intro {
  font-size: large;
}

.App-title {
  text-align: center;
  float: left;
}

/* Header */
.header-list {
  list-style: none;

}

.header-list a {
  text-decoration: none;
  color: white;
}

.header-list a:hover {
  color: gray;
}

.header-list button {
  text-decoration: none;
  color: white;
  padding: 0;
  border: none;
  background: none;
  font-size: medium;
}

.header-list button:hover {
  color: gray;
  cursor: pointer;
}

.header-nav {
  float: right;
  margin-right: 40px;
}

/* Main Content */
.content {
  margin-top: 140px;
}

/* Login and Register */
.login-register-title {
  text-align: center;
}

.login-register-form-list {
  list-style: none;
}

.login-register-list-item {
  text-align: center;
  margin: 10px;

}

.register-button {
  text-align: center;
  background:  none;
  color: #5CBE58;
  border: none;
  font-size: medium;
}

.register-button:hover{
  color: purple;
}

/* Home */

.wish-list {
  float: left;
}

.make-wish {
  float: right;
  margin-right: 60px;
  margin-top: 20px;
}

.make-wish a{
  text-decoration: none;
  color: #5CBE58;
}

.make-wish  a:hover {
  color: darkgreen;
}

.home {
  margin-left: 60px;
}

.home-tab-item {
  background:none;
  border:none;
  margin:0;
  font-size: 12pt;
}

.home-tab-item:hover{
  color: gray;
}

.home-tab-selected {
  border-bottom:1px solid gray;
}
.home-tab-selected:focus {
  outline: none;
}

.home__selected-content {
  margin: 20px;
}

.logout-button {
  background: none;
  color: red;
  border: none;
  font-size: medium;
}

.logout-button:hover{
  font-weight: bold;
}

/* Add Wish */
.add-wish {
  width: 100%;
}
.add-wish-title {
  text-align: center;
}

.add-wish-form-list {
  list-style: none;
}

.add-wish-list-item {
  text-align: center;
  margin: 10px;
}

.add-wish-button {
  text-align: center;
  border: none;
  background: none;
  font-size: medium;
  font-weight: bold;
  color: #5CBE58;
}

.add-wish-button:hover {
  color: purple;
}

/* Wish View */
.wish-view {
  border-bottom:1px solid gray;
}

.wish-view a:hover {
  color: darkgreen;
}

.wish-title {
  display: inline-block;
  margin-right: 100px;
}

.wish-url {
  display: inline-block;
  text-align: right;
}

.wish-url {
  color: #5CBE58;
  margin-right: 10 px;
}

.wish-remove-button:hover {
  cursor: pointer;
  background: red;
}



.user-list {
  margin-left: 60px;
}




